.treatment-card {
  position: relative;
  /*controla ancho y alto de cada tarjeta*/
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  border-radius: 50px;
  margin: o auto; 
  overflow: hidden;
  background-size: cover;
  justify-self: center;
  background-position: center;
  cursor: pointer;
}

/* OVERLAY BASE (siempre visible abajo) */
.treatment-card .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 20px 10px 20px;

  /* GRADIENTE en lugar de fondo sólido */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65) 0%,   /* oscuro abajo */
    rgba(0, 0, 0, 0.3) 30%,   /* transición */
    rgba(0, 0, 0, 0) 60%      /* transparente arriba */
  );

  transition: all 0.3s ease;
}

/* CONTENIDO */
.treatment-card .content {
  color: #F5F5F5;
}

/* TITULO SIEMPRE VISIBLE 
controla tamaño de letra y estilo del titulo de la card*/
.treatment-card h3 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', serif;
}

/* DESCRIPCIÓN OCULTA POR DEFAULT 
controla el estilo del texto de la card*/
.treatment-card p {
  margin-top: 8px;
  line-height: 1.4;
  font-family: 'Josefin Sans', serif;
  opacity: 0;
  font-size: 17px;
  transform: translateY(10px);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* HOVER → MÁS OSCURO TODO */
.treatment-card:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}

/* HOVER → APARECE DESCRIPCIÓN */
.treatment-card:hover p {
  opacity: 1;
  transform: translateY(0);
  max-height: 200px;
}

@media (max-width: 1101px) {
  .treatment-card h3 {
    font-size:16px;
  }
}


@media (max-width: 1101px) {
  .treatment-card p {
    font-size:15px;
  }
}

@media (max-width: 379px) {
  .treatment-card {
  max-width: 250px;
  }
}